body
{
    color: #333F50;
    font-family: Arial;
}

a
{
    text-decoration: none;
    color: #219AFF;
    transition: color 0.35s;
}

    a:hover
    {
        color: #333F50;
        transition: color 0.35s;
    }

#header
{
    background-color: #219AFF;
    height: 50px;
    display: flex;
    align-content: center;
    overflow: hidden;
}

    #header #logo
    {
        align-self: center;
        margin-right: 30px;
    }

        #header #logo img
        {
            height: 40px;
        }

    #header .headerLink
    {
        align-self: center;
        text-decoration: none;
        color: #FFFFFF;
        letter-spacing: 1px;
        padding: 20px 10px;
        transition: background-color 0.35s;
    }

        #header .headerLink:hover
        {
            background-color: #333F50;
            transition: background-color 0.35s;
        }


    #header #userDiv
    {
        flex: 1 1 auto;
        align-self: center;
        text-align: right;
        margin-right: 15px;
        color: #FFFFFF;
    }

        #header #userDiv #username:hover
        {
            color: #333F50;
            cursor: pointer;
        }

#footer
{
    height: 150px;
}
